{* This is the welcome page, you can delete it *}

{block content}
	<div class="l-center">
		<h1>XXX</h1>

		<div>
			<a n:href="SignUp:default" class="button">Sign Up</a>
			<a n:href=":Admin:User:default" class="button">Manage Users</a>
		</div>
	</div>
{/block}
