services:
	- App\Core\RouterFactory::createRouter
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
