@use '../variables' as v;

.l-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2 * #{v.$container-padding});
  text-align: center;
}